/* universal */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* ? */
}

html {
	font-size: 14px;
	font-family: "Poppins", sans-serif;
}

.container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	> * {
		width: 50%;
		height: 100%;
	}
	> img {
		display: block;
		margin: auto;
		object-fit: cover;
	}

	> div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

form.register {
	width: 404px;
	max-width: 100%;
	h1 {
		font-size: 32px;
		font-weight: 500;
		margin-bottom: 64px;
	}
	.form-group {
		margin-bottom: 20px;
		label,
		input,
		button {
			display: block;
			width: 100%;
		}
		input {
			border-radius: 10px;
			border: 1px solid #d9d9d9;
			padding: 10px;
		}
		input[type="checkbox"] {
			display: inline;
			width: 10px;
			height: 10px;
		}

		button {
			color: #fff;
			font-weight: 700;
			background-color: #3a5b22;
			text-align: center;
			padding: 10px;
			border-radius: 10px;
			border: none;
			cursor: pointer;
			transition: all ease-in-out 0.4s;
		}
		button:hover {
			background-color: #a1c487;
		}
	}
}
